head
	title Benjel News
	link(href="/css/main.css" rel="stylesheet")
	script(src="/jquery/dist/jquery.min.js" type="text/javascript")
	// script(src="/markdown-js/dist/markdown.js" type="text/javascript")
	// script(src="/to-markdown/dist/to-markdown.js" type="text/javascript")
	// script(src="/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript")
	script(src="/js/main.js" type="text/javascript")
