nav(class="clearfix white bg-black")
	div(class="sm-col")
		a(href="/" class="btn py2") Home
			//a(href='/api' class="") API
		a(href="/submit" class="btn py2") Submit
		if isAuthenticated
			a(href="#" class="btn py2") Notifications
			a(href="/fav" class="btn py2") Favourites
	div(class="sm-col-right")		
		if !isAuthenticated
			a(href="/login" class="btn py2") Login
				
		else
			a(href="/profile" class="btn py2") Profile
	
			a(href="/logout" class="btn py2") Logout