div(class="container navigation")
	nav(class="navbar navbar-default" role="navigation")
		div(class="navbar-header")
			a(class="navbar-brand" href="/") Benjel News
				//img(alt="Benjel News" src="#')
		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav")
				li
					a(href="/submit" class="") Submit
				if isAuthenticated
					li
						a(href="/fav" class="") Favourites
							=" "
							//i(class="fa fa-star")
				div(class="notification-box")
					if notifications
						each notif in notifications
							div.border
								div
									p
										if notif.comment
											=notif.comment.author.username
											span  made a 
												a(href="/news/"+notif.story._id) comment
												span in
											=" "
											span
												a(href="/news/"+notif.story._id)=notif.story.title
											=" "
											span=notif.timeAgo
										else
											span the comment got deleted
			ul(class="nav navbar-nav navbar-right")
				if !isAuthenticated
					li
						a(href="/login")
							small Login
				else
					li
						a(href="#" class=" user-notifications")
							i(class="fa fa-inbox")
							if notifications
								span (
								span(class="notfications")=notifications.length
								span )
							else
								span (
								span(class="notfications") 0
								span )
					li
						a(href="/profile" class="")
							i(class="fa fa-user")
							span=username
					li 
						a(href="/logout" class="")
							small Logout
