include ./partials/header.jade
div(class="container content")
	div(class="row")
		div(class="col-sm-12")
			h4 Bugs & Features Timeline
			.row
				.col-sm-6
					h5 List of Bugs: (updated: 09/13/15)
					ol
						li Reply button for comments:
							ul
								li Status: You can make comments but they won't show up as threaded yet. If you intend on replying to a comment then just use it. It will be top priority to implement the threaded view
						li Notifications:
							ul
								li Status: The notification box still looks so ghetto
						li Submit page:
							ul
								li Status: It still shows login when you are already logged in
						li Top sorting:
							ul
								li Status: After the first page, the stories doesn't get sorted by points anymore
				.col-sm-6				
					h5 List of Upcoming Features (updated: 09/13/15)
					small **Features comes after current bugs are fixed
					ol
						li Tags
						li Upvote button color and animation
						li Current page indication
							
			
						
							
				