include ./partials/header.jade
.container
	.row
		.col-sm-12
			h2 Favourite Posts
			if data.favPosts
				each post in data.favPosts
					div(class="post")
						span
							a(href="/news/"+post._id)=post.title
							span=" "
							span by 
							a(href="")=post.author.username
					
					
				