include ./partials/header.jade
div(class="container content")
	.row
		.col-sm-12
			h4 Favourite Posts
			if data.favPosts
				ul
					each post in data.favPosts
						li(class="post")
							span
								a(href="/news/"+post._id)=post.title
								span=" "
								span by 
								a(href="")=post.author.username
include ./partials/footer.jade