include ./partials/header.jade
.container
	.clearfix
		h2 Favourite Posts
		if data.favPosts
			each post in data.favPosts
				div(class="post")
					span
						a(href="/news/"+post._id)=post.title
						span=" "
						span by 
						a(href="")=post.author.username
					
					
				