include ./partials/header.jade

div(class="container content")
	div(class="row")
		if !isAuthenticated
			div(class="col-sm-4")
				h4(class="form-title") Login Form
				form(id="login-form" name="login-form" method="post" action="/login" class="login-form")
					.form-group
						label(for="username") Username:
						input(type="text" id="login-username" name="login-username" class="form-control input-sm" placeholder="Username" pattern="[a-zA-Z0-9]+" required)
					.form-group
						label(for="password") Password
						input(type="password" id="login-password" name="login-password" class="form-control input-sm" placeholder="Password" required)
					button(type="submit" class="btn btn-default btn-sm" id="login-submit" name="login-submit") Submit
					div(class="form-message")
						a(href="/register") Register an account
						if message.length > 0
							p #{message}