include ./partials/header.jade

.container
	.clearfix
		.col.sm-col-6
			if data
				h2 Top Stories
				each object in data
					div.border.p5
						div
							h3
								a(href="//"+object.link)= object.title
						div 
							span Posted 
							=object.timeAgo
							span  by 
							=object.author
						div 
							a(href="/news/"+object._id)  
								=object.commentsLength
								span  Comments
			else
				h2 Form Data
				p No data available right now.
		
