include ./partials/header.jade

.container
	.row
		.col-sm-6
			if data
				h2 Top Stories
				each object in data
					div
						div
							h3(class="title-heading")
								a(href=object.link class="navy")=object.title
								span(class="gray")=object.displayLink
						div 
							span Posted 
							=object.timeAgo
							span  by 
								a(href="/profile/"+object.author._id class="underline")
									=object.author.username
						div 
							a(href="/news/"+object._id class="underline comment-count")  
									=object.commentsLength
									span  Comments
						div
							span(class="upvote-counter")=object.upvote
							button(class="btn btn-default upvote-add") +
							span or 
							button(class="btn btn-default upvote-minus") -
							
			else
				h2 Form Data
				p No data available right now.
				
.container
	.row
		.col-sm-6
			#react
		
