include ./partials/header.jade
script(src="/js/ReactComment.js" type="text/jsx")

.container
	.row
		.col-sm-6
			if story
				h2 Top Stories
				div
					div
						h3
							a(href=story.link)= story.title
					div 
						span Posted 
						=story.timeAgo
						span  by 
							a(href="/profile/"+story.author._id)
								span=story.author.username
					div 
						a(href="/news/"+story._id class="underline comment-count")  
							=story.commentsLength
							span  Comments
				if story.sameAuthor
					div
						button(class="btn btn-default")
							a(href="/news/"+story._id+"/edit") Edit
						button(class="btn btn-default btn-delete-story")
							a(href="/news/"+story._id+"#") Delete
				
				div
					p=story.content
				
				if isAuthenticated
				else
					div.mt3
						p You need an account to comment.
				#reactComment

									
			else
				h2 Form Data
				p No data available right now.
