include ./partials/header.jade

.container
	.clearfix
		.col.sm-col-6
			if data
				h2 Top Stories
				each object in data
					div.border.p5
						div
							h3
								a(href="//"+object.link)= object.title
						div 
							span Posted 
							=object.timeAgo
							span  by 
							=object.author
						div.comments
							h4 
								a(class="link-add" href="/news/"+object._id) Comments
							each val in object.comments
								p=val.content
								p Posted by 
									span=val.author
									span  on 
									span=val.timeAgo
				div.mt3
					textarea(class="comment-textarea" name="comment-textarea", cols="50", rows="10")
					button(name="comment-submit" class="comment-submit").btn.btn-primary Add a Comment

			else
				h2 Form Data
				p No data available right now.
		
