@import "./bower_components/bootstrap/less/bootstrap.less";
@import "./bower_components/font-awesome/less/font-awesome.less";
@import "./bower_components/bootstrap-markdown/less/bootstrap-markdown.less";
@import "variables.less";

@primaryColour: #ff0000;
@secondaryColour: #374758;
@secondaryContraColour: lighten(@secondaryColour, 5%);
@contentBgColour: #f3f4f1;
@navLinkColour: #ffffff;
@linkColour: #121212;
@borderColour: #eceef1;
@visitedColour: #b5b5b5;
@bodySecondaryColour: #828282;

.navbar {
	margin-bottom: 0px;
}
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}
.navbar-default {
	border: none;
	background-color: @secondaryColour;
}
.nav.navbar-nav {
	.fa.fa-star {
		font-size: 12px;
	}
	li {
		a {
			font-size: 13px;
			color: @navLinkColour;
			&:hover {
				color: darken(@navLinkColour, 15%);
			}
		}
	}
}
.navbar-right {
	li {
		border-right: 1px @secondaryContraColour solid;
		&:last-child {
			border-right: none;
		}
		&:first-child {
			border-left: 1px @secondaryContraColour solid;
		}		
	}
	.fa {
		padding-right: 0.5em;
	}
}
.navbar-header {
	background-color: @primaryColour;
}
.navbar-default .navbar-brand {
	color: @navLinkColour;
	font-size: @font-size-base;
	font-weight: 600;
	&:hover {
		color: @navLinkColour;
		background-color: @primaryColour;
	}
}
.container.navigation {
	margin-top: 20px;
	padding: 0;
}
.content {
	background: @contentBgColour;
	padding-top: 1em;
	padding-bottom: 1em;
}
.notification-box {
	background: white;
	position: absolute;
	border: 1px solid @borderColour;
	display: none;
	top: 30px;
	right: 0;
	width: 300px;
	height: 200px;
	z-index: 9999;
	padding: 1em;
}
.user-information {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid @borderColour;
}
.user-activities .col-sm-3 {
	border-right: 1px solid @borderColour;
	&:last-child {
		border-right: none;
	}
}
.story-sort {
	color: @visitedColour;
	font-size: 12px;
	h5 {
		display: inline-block;
		font-size: 11px;
		a {
			color: @bodySecondaryColour;
			font-weight: 500;
			text-transform: uppercase;
			position: relative;
			padding: 7px 0;
			transition: color 0.2s ease-in;
			text-decoration: none;
			&:after {
				height: 0px;
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: @secondaryColour;
				transition: height 0.3s ease-in;
			}
			&.active, &:hover, &:focus {
				color: @secondaryColour;
				transition: color 0.2s ease-in;
				&:after {
					height: 2px;
					transition: height 0.3s ease-in;
				}
			}
		}
	}
}
.stories {
	ul {
		padding-left: 0;
	}
}
.story {
	border-bottom: 1px solid @borderColour;
	list-style-type: none;
	padding: 10px;
	display: flex;
	.story-details {
		display: inline-block;
		margin-left: 20px;
		.story-title {
			margin: 0;
			.title-heading {
				margin: 7px 0;
				font-size: 16px;
				display: inline-block;
				a {
					color: @linkColour;
					&:visited {
						color: @visitedColour;
					}
				}
			}
			.title-link {
				font-size: 12px;
				padding-left: 1em;
				color: @visitedColour;
				font-weight: 400;
			}
		}
		.story-meta {
			display: inline-block;
			font-size: 12px;
			color: @bodySecondaryColour;
			a { 
				color: @bodySecondaryColour;
			}
			.story-points {
				display: inline-block;
			}
		}
		.story-favourite {
			font-size: 12px;
			display: inline-block;
			margin-left: 10px;
			color: @bodySecondaryColour;
			a {
				color: @bodySecondaryColour;
				&:hover {
					text-decoration: none;
					color: @primaryColour;
					transition: font-size 0.1s ease-in;
					font-size: 14px;
				}
				&:active, &:focus {
					text-decoration: none;
				}
			}
			.fa.fa-star.fav-remove {
				color: @primaryColour;
			}
			.add-to-fav {
				font-size: 10px;
			}
		}
	}
}
.story-voting {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 25px;
	a {
		color: @bodySecondaryColour;
		&:hover {
			text-decoration: none;
			color: @primaryColour;
			transition: font-size 0.1s ease-in;
			font-size: 24px;
		}
		&:active, &:focus {
			text-decoration: none;
		}
	}
	.upvote-add, .upvote-minus {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		i.fa {
			align-items: center;
			align-content: center;
			justify-content: center;		
		}
	}
}
.story-single {
	display: flex;
	padding-bottom: 10px;
	flex-direction: column;
	.story-details {
		margin-left: 20px;
		.story-title {
			margin: 0;
			.title-heading {
				margin: 7px 0;
				font-size: 16px;
				display: inline-block;
				a {
					color: @linkColour;
					&:visited {
						color: @visitedColour;
					}
				}
			}
			.title-link {
				font-size: 12px;
				padding-left: 1em;
				color: @visitedColour;
				font-weight: 400;
			}
		}
		.story-meta {
			display: inline-block;
			font-size: 12px;
			color: @bodySecondaryColour;
			a { 
				color: @bodySecondaryColour;
			}
			.story-points {
				display: inline-block;
			}
		}
		.story-favourite {
			font-size: 12px;
			display: inline-block;
			margin-left: 10px;
			color: @bodySecondaryColour;
			a {
				color: @bodySecondaryColour;
				&:hover {
					text-decoration: none;
					color: @primaryColour;
					transition: font-size 0.1s ease-in;
					font-size: 14px;
				}
				&:active, &:focus {
					text-decoration: none;
				}
			}
			.fa.fa-star.fav-remove {
				color: @primaryColour;
			}
			.add-to-fav {
				font-size: 10px;
			}
		}
	}	
}
.story-box {
	display: flex;
}
.story-content {
	margin-top: 10px;
	white-space: pre-wrap; 
}
.story-admin-edit {
	margin-top: 5px;
	a {
		color: @primaryColour;
	}
}
.comments {
	border-top: 1px solid @borderColour;
	margin-top: 20px;
	padding-top: 20px;
	h4 {
		margin: 0;
	}
	.comment-list {
		margin-top: 15px;
		.comment {
			margin: 5px;
			padding: 10px 0;
			.comment-meta {
				margin-bottom: 10px;
				color: @bodySecondaryColour;
				a {
					color: @bodySecondaryColour;
				}
			}
			.comment-content, .comment-meta {
				font-size: 13px;
				white-space: pre-wrap; 
			}
		}
	}
}
.pagination-box {
	margin-top: 1.25em;
	ul {
		li {
			a {
				background-color: @contentBgColour;
				border-color: @borderColour;
				color: @bodySecondaryColour;		
			}
		}
	}
	.pagination > .active > a {
		color: @navLinkColour;
		background-color: @secondaryColour;
		border-color: @secondaryColour;
	}
}
.pagination-sm > li > a {
	padding: 1px 7px;
}
.reply-form {
	display: none;
}
.form-title {
	color: @bodySecondaryColour;
}
.login-form {
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.form-message {
	margin: 10px 0;
	a {
		font-size: 11px;
	}
}
footer {
	padding: 20px 0;
	.site-info {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		span {
			font-size: 11px;
			color: @bodySecondaryColour;
			opacity: 0.5;
			transition: opacity 0.1s ease-in;
			&:hover {
				opacity: 0.9;
				transition: opacity 0.1s ease-in;
			}
		}
		a {
			font-size: 11px;
			padding: 0 0.45em;
			color: @secondaryColour;
		}
	}
}
.title-origin {
	margin-left: 0.25em;
	font-size: 16px;
	font-weight: 500;
}
.icon {
	width: 1em;
	height: 1em;
}
.underline {
	text-decoration: underline;
}
/*.comment-count {
	position: relative;
	padding-right: 15px;
}
.comment-count:after {
	content: '\2022';
    position: absolute;
    right: 4px;
}*/
#story-form textarea.form-control {
	height: 200px;
}
.story-title:required:valid {
	border-color: green;
}
.story-title:required:invalid {
	border-color: red;
}
.story-comment {
	height: 200px;
}
.link-hint {
	display: none;
}
::-webkit-validation-bubble-message {
    padding: 5em;
}

