@import "./bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

.notification-box {
	background: #f8f8f8;
	position: absolute;
	border: 1px solid #eceef1;
	display: none;
	top: 52px;
	left: 75px;
	width: 300px;
	height: 200px;
	z-index: 9999;
	padding: 1em;
}
.story {
	border: 1px solid #eceef1;
	list-style-type: none;
	padding: 1.5em;
}
.story-details {
	display: inline-block;
	margin-left: 10px;

}
.story-comments {
	display: inline-block;
}
.story-vote {
	display: inline-block;
	width: 30px;
}
.story-favourite {
	display: inline-block;
	margin-left: 5px;
}
.upvote-counter {
	margin-left: 12px;
}
.upvote-add, .upvote-minus {
	cursor: pointer;
}
.title-meta {
	
}
.title-heading {
	
}
.title-origin {
	margin-left: 0.25em;
	font-size: 16px;
	font-weight: 500;
}
.icon {
	width: 1em;
	height: 1em;
}
.underline {
	text-decoration: underline;
}
/*.comment-count {
	position: relative;
	padding-right: 15px;
}
.comment-count:after {
	content: '\2022';
    position: absolute;
    right: 4px;
}*/
#story-form textarea.form-control {
	height: 200px;
}
.story-title:required:valid {
	border-color: green;
}
.story-title:required:invalid {
	border-color: red;
}
.story-comment {
	height: 200px;
}
.link-hint {
	display: none;
}
::-webkit-validation-bubble-message {
    padding: 5em;
}
.pagination {
	margin-top: 3em;
}
.pagination ul {
	margin: 0 2em;
	display: inline-block;
	list-style: none;
	padding-left: 0;
}
.pagination ul li {
	display: inline-block;
	padding: 0 1em;
}
.pagination ul li:first-child {
	padding-left: 0;
}

.reply-form {
	display: none;
}
